* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
body {
	font-family: "MyriadPro";
	background-image: url(../img/bg-header.jpg);
	background-repeat: repeat no-repeat;
}
a {text-decoration: none;}
header {}
.header-content {
	max-width: 940px;
	min-width: 320px;
	margin: 0 auto;
	padding: 50px 0 20px 0;
}
h1 {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	color: #35373B;
}
.br__nextLine {display:none;}
@media (max-width: 620px) {
	.br__nextLine {display: inline;}
}

.name {color: black;}
.wrapper {
	max-width:1920px;
	width:90%;
	min-width:320px;
	margin: 0 auto;
}
.ul-homework {
	display: flex;
	width:100%;
	flex-wrap: wrap;
	justify-content: space-between;
}
.li-homework {
	width: 23%;
	list-style: none;
	margin-top: 20px;
	padding: 0 0 14px 0;
	border: 2px solid #DAE0F1;
	border-radius: 5px;
}
@media (max-width: 1430px) {    
  .li-homework {width:32%;}
}
@media (max-width: 1070px) {    
  .li-homework {width:48%;}
}
@media (max-width: 620px) {
	.ul-homework {justify-content: center;}  
	.li-homework {
		width:80%;
		min-width:320px;
	}
}
.li-homework:hover {
	border: 2px solid #666971;
	background-color: #EDEDED;
	transition: border .5s, background-color .5s;
}
.homework-img {
	height: 200px;
	overflow: hidden;
	border-radius: 5px 5px 0 0;
}
.homework-img img {height: auto;}
.title-homework {
	padding:10px;
	font-size:24px;
	color: black;
	text-decoration: none;
	line-height:20px;
	text-align: center;
	margin: 14px 0 0 0;
}
footer {
	height:338px;
	background-image: url(../img/bg-footer.jpg);
	background-repeat: repeat no-repeat;
}
/*for_LogoPage*/
.bg_black {background-color:black;}
.logo {
	width:151px;
	height:93px;
	margin: 7px auto;
}
.logo_position {position:relative;}
.rotate, .text_logo {float:left;}
.rotate {
	position: absolute;
	top:45px;
	left:-30px;
	width:96px;
	height:96px;
	margin: 0 0 0 56px;
	-webkit-animation-name: spin;
	-moz-animation-name: spin;
	-o-animation-name: spin;
	animation-name: spin;
	-webkit-animation-duration:9s;
	-moz-animation-duration:9s;
	-o-animation-duration:9s;
	animation-duration:9s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
	-o-animation-timing-function:linear;
	animation-timing-function:linear;
	cursor:pointer;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.text_logo {
	margin: 65px 0 0 0;
	-webkit-animation-name: naming;
	-moz-animation-name: naming;
	-o-animation-name: naming;
	animation-name: naming;
	-webkit-animation-duration:12s;
	-moz-animation-duration:12s;
	-o-animation-duration:12s;
	animation-duration:12s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
	-o-animation-timing-function:linear;
	animation-timing-function:linear;
}
@keyframes naming {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(0deg);
    }
}
/*for_LogoPage_END*/
@font-face {
	font-family: "MyriadPro";
	src: url(../fonts/MyriadPro/MyriadPro-Regular.ttf);
	font-style: normal; 
	font-weight: normal;
}
@font-face {
	font-family: "MyriadPro";
	src: url(../fonts/MyriadPro/MyriadPro-Bold.ttf);
	font-style: normal; 
	font-weight: bold;
}