* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
body {
	font-family: "Roboto", Arial;
}
.header__title {
	position:relative;
	height:87px;
	width:751px;
	margin:-413px auto;
	border-top: 2px solid white;
	border-bottom:2px solid white;
	line-height:87px;
	text-align:center;
	font-size:60px;
	color:white;
	font-weight:bold;
	text-transform: uppercase;
	z-index:100;
}
.header__button {
	margin: 455px auto 0 auto;
	color: white;
	border: 2px solid white;
	position:relative;
	z-index:100;
}
.header__button, .mySkills__button {
	width: 185px;
	height: 56px;
	cursor: pointer;
	line-height:56px;
	text-align: center;
	text-transform: uppercase;
	font-size:18px;
	font-weight: bold;
	transition: background-color .5s;
}
.header__button:hover {
	background-color:#2ECC71;
	transition: background-color .5s;
}
.header-menu_wrap {
	width: 100%;
	height:70px;
	background-color: #252E30;
	margin-top:228px;
}
.header__nav {
	max-width: 1180px;
	position:relative;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.logo {
	width: 152px;
	height: 42px;
	margin-top:14px;
}
.header__ul {
	display: flex;
}
.header__ul li {list-style: none;}
.menu_a {
	text-decoration: none;
	color:white;
	font-size:16px;
	line-height:70px;
	text-transform: uppercase;
	margin-right:40px;
	transition: color .5s;
}
.menu_a_last {margin-right:0px;}
.menu_a:hover {
	color:#2ECC71;
}
.header__burger {
	display:none;
}
.block__items {
	max-width: 1180px;
	margin: 0px auto 0px auto;
}
.block__items-ul {
	display: flex;
	justify-content: space-between;
}
.block__items-ul li {
	list-style: none;
	max-width:380px;
	min-width:200px;
}
.block__items-title {
	color:#566366;
	font-size:30px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top:100px;
}
.block__items-text {
	color:#919191;
	font-size:18px;
	margin-top:50px;
	line-height:30px;
}
.aboutMe__wrap {
	margin-top:100px;
	width: 100%;
	background-color: #F2F2F1;
}
.aboutMe {
	max-width:1600px;
	margin: 0 auto;
	display: flex;
}
.aboutMe__img {
	width: 610px;
	height:754px;
}
.aboutMe__info {
	padding: 100px 0 0 100px;
	max-width:780px;
}
h2 {
	color: #566366;
	text-transform: uppercase;
	font-size:30px;
	font-weight: bold;
}
.aboutMe__text {
	margin-top:50px;
	color: #919191;
	font-size: 18px;
}
.aboutMe_new {margin-top:47px;}
.aboutMe__categories {
	display:flex;
	flex-wrap: wrap;
	margin-top:19px;
	justify-content: space-between;
}
.category {
	max-width:320px;
	display: flex;
	margin-top:59px;
}
.categories__iconWrap {
	min-height:91px;
	width:40px;
}
.categories__icon {
		width:40px;
		height:40px;
		background-repeat: no-repeat;
		background-size:auto 100%;
}
.categories__icon-1 {background-image: url(../img/icons/icon_1.png);}
.categories__icon-2 {background-image: url(../img/icons/icon_2.png);}
.categories__icon-3 {background-image: url(../img/icons/icon_3.png);}
.categories__icon-4 {background-image: url(../img/icons/icon_4.png);}
.category__info {margin-left:28px;}
.categories__title {
	color:#566366;
	font-weight:bold;
	text-transform: uppercase;
	font-size:22px;
}
.categories__text {
	margin-top:29px;
	color:#919191;
	font-size:18px;
	line-height:30px;
}
.mySkills__wrap {
	max-width:1180px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-bottom:100px;
}
.mySkills__info {width:560px;}
.mySkills__title {
	color: #566366;
	text-transform: uppercase;
	font-size:30px;
	font-weight: bold;
	margin-top:100px;
}
.mySkills__text {
	color: #919191;
	font-size: 18px;
	line-height:30px;
	margin-top:50px;
}
.mySkills_p {margin-top:50px;}
.mySkills__button {
	margin-top:50px;
	border: 2px solid #2ecc71;
	color: #2ecc71;
}
.mySkills__button:hover {
	color:white;
	background-color:#2ECC71;
	transition: background-color .5s, color .5s;
}
.mySkills__progress {
	width:560px;
	padding-top:135px;
}
.mySkills__element {margin-bottom:40px;}
.mySkills__element__title {
		text-transform: uppercase;
		color:#566366;
		font-weight:bold;
		font-size:22px;
}
.mySkills__element__progress {
	width:100%;
	height:30px;
	background-color: #F2F2F1;
	margin:20px 0 0px 0;
}
.scale__progress {
	height:30px;
	background-color:#2ECC71;
	display: flex;
	justify-content: flex-end;
}
.progress__photoshop {width:90%;}
.progress__illustrator {width:80%;}
.progress__html {width:90%;}
.progress__php {width:70%;}
.scale__progress__text {
	font-size:18px;
	font-weight: bold;
	color: white;
	margin:0 10px 0 0;
	line-height:30px;
}
.resume__wrap {
	background-color:#F2F2F1;
}
.resume {
	max-width:1180px;
	margin: 0 auto;
	padding:100px 0 100px 0;
}
.resume__title{
	color: #566366;
	text-transform: uppercase;
	font-size:30px;
	font-weight: bold;
	margin:0 auto;
	text-align: center;
}
.resume__text {
	color: #919191;
	font-size: 18px;
	line-height:30px;
	margin-top:50px;
	text-align: center;
}
.resume__button {
	width: 215px;
	height:56px;
	cursor:pointer;
	line-height:56px;
	margin-top:50px;
	text-align: center;
	text-transform: uppercase;
	font-size:18px;
	font-weight: bold;
	border: 2px solid #2ecc71;
	color: #2ecc71;
	transition: background-color .5s;
	margin: 50px auto 0 auto;
}
.resume__button:hover {
	color:white;
	background-color:#2ECC71;
	transition: background-color .5s, color .5s;
}
.resume__arrow-wrap {height:20px;}
.resume__arrow {
	width:62px;
	height:20px;
	margin: 0 auto;
	background-image: url(../img/resume_arrow.png);
}
.downloadResume {text-decoration: none;}
.education__wrap, .experience__wrap {padding:80px 0 0px 0;}
.education__title, .experience__title {
	max-width:1180px;
	margin: 0 auto;
	color: #566366;
	text-transform: uppercase;
	font-size:30px;
	font-weight: bold;
}
.education {border-bottom: 1px solid #CCCCCC;}
.education, .experience {
	display: flex;
	max-width: 1180px;
	margin: 0 auto;
	justify-content: space-between;
	padding:50px 0 100px 0;
}
.education__text, .experience__text {
	width:560px;
	color: #919191;
	font-size: 18px;
	line-height:30px;
}
.education__p, .experience__p {margin-top:50px;}
.education__result, .experience__result {width:560px;}
.education__result-2, .experience__result-2, .experience__result-3 {margin-top:80px;}
.result__title {
	font-size:22px;
	font-weight: bold;
	color:#566366;
	text-transform: uppercase;
}
.result__plase {
	color:#919191;
	font-weight:bold;
	font-size:18px;
	margin-top:20px;
}
.result__decoration {
	width:70px;
	height:30px;
	background-color:#2ECC71;
	color: white;
	font-weight:bold;
	text-align: center;
	line-height:30px;
	font-size:14px;
	margin-top:20px;
}
.result__line {
	margin:30px 0;
	width:100%;
	height:1px;
	background-color:#CCCCCC;
}
.result__text {
	color: #919191;
	font-size: 18px;
	line-height:30px;
}
.portfolio__wrap {width:100%;}
.portfolio {
	max-width:1180px;
	margin: 0 auto;
	padding-bottom:100px;
}
.porfolio__title {
	color: #566366;
	text-transform: uppercase;
	font-size:30px;
	font-weight: bold;
	margin:100px auto 0px auto;
	text-align: center;
}
.portfolio__text {
	color: #919191;
	font-size: 18px;
	line-height:30px;
	margin-top:50px;
	text-align: center;
}
.portfolio__list {
	width: 100%;
	margin-top:100px;
}
.portfolio__ul {
	display: flex;
	width:100%;
	flex-wrap: wrap;
	justify-content: space-between;
}
.portfolio__li {
	width:367px;
	height:300px;
	list-style: none;
	margin-bottom: 40px;
	background-color: #252E30;
	background-size: auto 100%;
}
.portfolioImg-2 {background-image:url(../img/portfolio_img/2.jpg);}
.portfolioImg-3 {background-image:url(../img/portfolio_img/3.jpg);}
.portfolioImg-4 {background-image:url(../img/portfolio_img/4.jpg);}
.portfolioImg-5 {background-image:url(../img/portfolio_img/5.jpg);}
.portfolioImg-6 {background-image:url(../img/portfolio_img/6.jpg);}
.portfolioImg-7 {background-image:url(../img/portfolio_img/7.jpg);}
.portfolioImg-8 {background-image:url(../img/portfolio_img/8.jpg);}
.portfolioImg-9 {background-image:url(../img/portfolio_img/9.jpg);}
.portfolio__filter {
	padding:40px 0 0 39px;
}
.filter__title {
	text-transform: uppercase;
	font-size:18px;
	font-weight:bold;
	color: white;
}
.filter__ul {margin-top:40px;}
.filter__li {
	color:#919191;
	list-style: none;
	margin-bottom: 7px;
	font-size:18px;
}
.filter__li:hover {
	color:white;
	cursor: pointer;
}
.filter__li_checked {color:white;}
.portfolio__watch-img {
	background: rgba(46, 204, 113, 0);
	width:100%;
	height:100%;
	padding-top:129px;
	opacity: 0;
}
.portfolio__watch-img:hover {
	cursor: pointer;
	background: rgba(46, 204, 113, 0.75);
	opacity: 1;
	transition: background .5s;
}
.portfolio__lupa {
	width:49px;
	height:49px;
	margin: 0 auto;
	background-image: url(../img/portfolio_img/lupa.png);
}
.contactMe_wrap {
	width:100%;
	background-color:#252E30;
}
.contactMe__container {
	max-width:1180px;
	margin: 0 auto;
	padding:100px 0 100px 0;
	display: flex;
	justify-content: space-between;
}
.contactMe {max-width:540px;}
.contactMe__title {
	text-transform: uppercase;
	font-size:30px;
	font-weight:bold;
	color: white;
}
.contactMe__info {
	max-width: 540px;
	font-size: 18px;
	color: #919191;
	line-height:30px;
	margin-top:50px;
}
.contactMe__p, .contactMe__adress {margin-top:46px;}
.contactMe__adress {width:225px;}
.contactMe__adress-1, .contactMe__adress-2 {
	display: flex;
	justify-content: space-between;
}
.adress__title {color:white;}
.adress__info {}
.contactMe__form {
	width:540px;
	padding-top:41px;
}
.form__titles{
	font-size:18px;
	color:white;
	margin-bottom:20px;
}
.span__star {color:#919191;}
.form_message {width:100%;} 
.form_message input {height:55px;}
.form_message textarea {height:279px;}
.form_message input, textarea {
	padding-left:20px;
	width: 100%;
	margin-bottom:40px;
	outline: none;
	border: none;
	color: white;
	font-size:18px;
	letter-spacing: 1px;
	background-color:#4B5456;
}
#submit {
	padding-left:0px;
	width: 185px;
	height: 56px;
	background-color:#191F21;
	color: white;
	text-transform: uppercase;
	font-size:18px;
	font-weight:bold;
	cursor: pointer;
	text-align: center;
	line-height:56px;
}
#submit:hover {
	background-color:#34CD75;
		transition: background-color .3s;
}
footer {
	width: 100%;
	background-color:#191F21;
}
.footer__wrap {
	max-width:1180px;
	padding:50px 0 50px 0;
	margin: 0 auto;
}
.footer__copyright {
	font-size:14px;
	font-weight: 900;
	color:#4b5456;
	text-align: center;
	text-transform: uppercase;
}
.footer__socials {
	margin-top:32px;
}
.footer__ul {
	display: flex;
	justify-content: center;
}
.footer__li {
	list-style: none;
	width:34px;
	height:34px;
	border-radius: 50%;
	cursor:pointer;
	background-color: #4B5456;
	margin: 0 5px 0 5px;
}
.footer_twiter, .footer_facebook, .footer_pinterest, .footer_google, .footer_dribble, .footer_linkedin {
	background-position: center;
	background-repeat:no-repeat;
}
.footer_twiter {background-image:url(../img/footer_icons/twiter.png);}
.footer_twiter:hover {background-image:url(../img/footer_icons/twiter_white.png);}
.footer_facebook {background-image:url(../img/footer_icons/f.png);}
.footer_facebook:hover {background-image:url(../img/footer_icons/f_white.png);}
.footer_pinterest {background-image:url(../img/footer_icons/pinterest.png);}
.footer_pinterest:hover {background-image:url(../img/footer_icons/pinterest_white.png);}
.footer_google {background-image:url(../img/footer_icons/google.png);}
.footer_google:hover {background-image:url(../img/footer_icons/google_white.png);}
.footer_dribble {background-image:url(../img/footer_icons/dribble.png);}
.footer_dribble:hover {background-image:url(../img/footer_icons/dribble_white.png);}
.footer_linkedin {background-image:url(../img/footer_icons/linkedin.png);}
.footer_linkedin:hover {background-image:url(../img/footer_icons/linkedin_white.png);}
@font-face {
	font-family: "Roboto";
	src: url(../../../../fonts/roboto/Roboto-Bold.ttf);
	font-style: normal; 
	font-weight: bold;
}
@font-face {
	font-family: "Roboto";
	src: url(../../../../fonts/roboto/Roboto-Regular.ttf);
	font-style: normal; 
	font-weight: normal;
}
@font-face {
	font-family: "Roboto";
	src: url(../../../../fonts/roboto/Roboto-Italic.ttf);
	font-style: italic; 
	font-weight: normal;
}
@font-face {
	font-family: "Roboto";
	src: url(../../../../fonts/roboto/Roboto-Medium.ttf);
	font-style: normal; 
	font-weight: 500;
}